.clearfloat{ clear:both; }
.tnc{ position:absolute; width:130px; height:20px; top:10px; right:160px; z-index:10; }
.about{ position: absolute; width: 100px; height: 20px; top: 10px; right: 35px; z-index: 10; }
.section{ 
    position:relative; width:810px; margin:0 auto; display: none;
    &.active{ display:block; }
}
#thankyou{
    height:819px; background-image: url(../images/guide-thankyou.jpg);
    .facebookShare{ 
        width: 109px; height: 37px; position: absolute; top: 323px; left: 350px;
        background-repeat: no-repeat; background-size: contain;
        background-image: url(../images/btn-facebook-share.png);
    } 
}
#form{
    height:819px; background-image: url(../images/guide-form.jpg);
    .formContainer{
        position:absolute; width: 630px; height: 322px; top: 466px; left: 101px;
        background-image: url(../images/form-content.jpg); background-position: center 15px;
        background-repeat: no-repeat;
        .container{ min-height: 290px; }
    }
    .submitBtn{ 
        width:115px; height:20px; margin:0 auto;
        background-image: url(../images/btn-submit-form.jpg);
    }
}
#landing{
    height:819px; 
    .upper{
        width:100%; height:710px; background-image: url(../images/landing.jpg);
        overflow: hidden; position:relative;
        .instagramLight{ 
            width:100px; height:91px; background-image: url(../images/instagram-light.png); 
            position:absolute; bottom:-48px; left:17px; display:none;
        }
        .instagram{ 
            width:271px; height:107px; background-image: url(../images/instagram-hash.png); 
            position:absolute; bottom: -48px; left: 17px;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -ms-transition: all 1s ease;
            -o-transition: all 1s ease;
            transition: all 1s ease;
            &.rotate{
                -moz-transform: rotate(8deg);
                -webkit-transform: rotate(8deg);
                -o-transform: rotate(8deg);
                -ms-transform: rotate(8deg);
                transform: rotate(8deg);
            }

        }
        .enterBtn{
            width:286px; height:210px;
            background-image: url(../images/btn-enter-landing.png);
            background-position: 0 0; 
            background-repeat: no-repeat;
            top: 306px; left: 262px;
            position: absolute; cursor: pointer;
            &:hover{ background-position: -286px 0; }
        }
    }
    .instagramBar{
        width:100%; height:100px; padding-top:2px; padding-bottom:2px;
        .cude{ 
            background-image: url(../images/ajax-loader.gif); margin-right:2.57px;
            background-repeat: no-repeat; background-position: center center;
            width:99px; height:99px; float:left; margin-bottom:2.57px;
            img{ width:100%; }
            &.end{ margin-right:0; }
        }
    }
}
.mobile{
    background-color: #3c62bc;
    .about{ width: 125px; height: 50px; top: 10px; right: 5px; }
    .tnc{ width: 150px; height: 50px; top: 10px; right: 155px; }
    .section{ width: 640px; }
    #thankyou{ 
        height:1045px; background-image: url(../images/mobile/guide-thankyou.jpg); 
        .facebookShare{ top: 405px; left: 275px; }
    }
    #form{ 
        height:1045px; background-image: url(../images/mobile/guide-form.jpg); 
        .formContainer { 
            position: absolute; width: 547px; height: 280px; top: 513px; left: 44px; 
            background-image: url(../images/mobile/form-content.jpg); background-position: center center;
            background-repeat: no-repeat;

            .container{ min-height:250px; }
        }
    }
    #landing{
        .upper{ 
            height:850px; background-image: url(../images/mobile/landing.jpg); 
            .enterBtn{ top: 395px; left: 172px; }
        }
        .instagramBar{
            height:105px; background-color:#FFF;
            .cude{ 
                margin-right:2px; margin-bottom:2px; width:105px; height:105px;
                &.end{ margin-right:0; }
            }
        }
    }
}