.clearfloat{ clear:both; }
.tnc{ position:absolute; width:130px; height:20px; top:10px; right:160px; z-index:10; }
.about{ position: absolute; width: 100px; height: 20px; top: 10px; right: 35px; z-index: 10; }
div.section{ 
    position:relative; width:810px; margin:0 auto; display: none;
    &.active{ display:block; }
}
div#thankyou{
    height:819px; background-image: url(../images/guide-thankyou.jpg);
    .facebookShare{ 
        width: 109px; height: 37px; position: absolute; top: 323px; left: 350px;
        background-repeat: no-repeat; background-size: contain;
        background-image: url(../images/btn-facebook-share.png);
    } 
}
div#form{
    height:819px; background-image: url(../images/guide-form.jpg);
    div.formContainer{
        position:absolute; width: 630px; height: 322px; top: 466px; left: 101px;
        .container{ min-height: 290px; }
    }
    div.submitBtn{ 
        width:115px; height:20px; margin:0 auto;
        background-image: url(../images/btn-submit-form.jpg);
    }
}
div#landing{
    height:819px; 
    div.upper{
        width:100%; height:710px; background-image: url(../images/landing.jpg);
        div.enterBtn{
            width:286px; height:210px;
            background-image: url(../images/btn-enter-landing.png);
            background-position: 0 0; 
            background-repeat: no-repeat;
            top: 306px; left: 262px;
            position: absolute; cursor: pointer;
            &:hover{ background-position: -286px 0; }
        }
    }
    div.instagramBar{
        width:100%;
        margin-top:3px;
        div.cude{ 
            background-image: url(../images/ajax-loader.gif); margin-right:2.57px;
            background-repeat: no-repeat; background-position: center center;
            width:99px; height:99px; float:left; margin-bottom:2.57px;
            img{ width:100%; }
            &.end{ margin:0; }
        }
    }
}
