a(href="#" onclick="ga('send', 'pageview', '/tnc')")
	div.tnc
a(href="https://www.metlife.com.hk/metlifetalent/tc/" onclick="ga('send', 'pageview', '/employment')" target="_blank")
	div.about
div#form.section
	div.formContainer
		div.container
		a(href="javascript:void(0)" onclick="window.metlife.sectionManager.changeSection('thankyou')")
			div.submitBtn
div#thankyou.section
	a(href="javascript:void(0)" onclick="window.metlife.facebookShare()")
		div.facebookShare
div#landing.section.active
	div.upper
		a(href="https://instagram.com/explore/tags/metlifetalents" onclick="ga('send', 'pageview', '/instagram')" target="_blank")
			div.instagram
		div.instagramLight
		a(href="javascript:void(0)" onclick="window.metlife.sectionManager.changeSection('form')")
			div.enterBtn
	div.instagramBar
		div.container
		div.clearfloat