div.wrapper
	div#form.section
		a(href="images/MetLifeGoGoalLifeT&C.pdf" target="_blank" onclick="metlife.tracking('tnc')")
			div.tnc
			//- 詳細條款及細則
		a(href="https://www.metlife.com.hk/metlifetalent/tc/" onclick="metlife.tracking('employment');" target="_blank")
			div.about 
			//- 關於就業機會
		a(href="javascript:void(0)" onclick="window.metlife.sectionManager.changeSection('landing');metlife.trackEvent('back-button');")
			div.backBtn 
		//- 返回
		div.formContainer
			div.container
				form#21(name="leadGen" method="post" action="https://www.stage.metlife.com.hk/cms/leadGen/leadsValue/add.aspx")
					input(type='hidden' name="campaignId" value="21")
					input(type="hidden" name="lang" value="chi")
					div.formUpper
						div.date.formFileld
							div.label
							div.textInput 
								select(name="35")#35
									option(value="") － 請選擇 －
									option(value="2015/8/29") 2015/8/29
								div.errorMsg
							div.clearfloat
						div.name.formFileld
							div.label
							div.textInput 
								input#2(type="text" name="2")
								div.errorMsg
							div.clearfloat
						div.mobileInput.formFileld
							div.label
							div.textInput 
								input#3(type="text" maxlength='8' name="3")
								div.errorMsg
							div.clearfloat
						div.email.formFileld
							div.label
							div.textInput 
								input#4(type="text" name="4")
								div.errorMsg
							div.clearfloat
					div.formLower
						div.tncInput
							div.label
							div.textInput 
								input(type="checkbox" name="34" value="yes")#34
								div.errorMsg
							div.clearfloat
						div.submitBtnContain
							a(href="javascript:void(0)" onclick="window.metlife.formSubmit()")
								div.submitBtn
	div#landing.section.active
		a(href="images/MetLifeGoGoalLifeT&C.pdf" target="_blank" onclick="metlife.tracking('tnc')")
					div.tnc 
					//- 詳細條款及細則
				a(href="https://www.metlife.com.hk/metlifetalent/tc/" onclick="metlife.tracking('employment');" target="_blank")
					div.about 
					//- 關於就業機會
		div.upper
			a(href="#" onclick="window.metlife.sectionManager.changeSection('form');metlife.trackEvent('next-button');")
				div.enterBtn
					div.container
						div.normalBtn
						div.hoverBtn
		div.lower
			div.mobileArrow
			a(href="https://instagram.com/explore/tags/gogoallife" onclick="metlife.tracking('instagram');" target="_blank")
				div.instagram
					div.instagramLight
				div.instagramTag
			div.instagramBar
				div.container
				div.clearfloat