div#thankyou.section.active
	a(href="images/MetLifeGoGoalLifeT&C.pdf" target="_blank" onclick="metlife.tracking('tnc');")
			div.tnc 
			//- 詳細條款及細則
		a(href="https://www.metlife.com.hk/metlifetalent/tc/" onclick="metlife.tracking('employment');" target="_blank")
			div.about 
			//- 關於就業機會
	if platform == 'desktop'
		a(href="javascript:void(0)" onclick="metlife.trackEvent('share-button');window.location.href='https://www.metlife.com.hk/gogoallife/home.html';")
			div.facebookShare
	else
		a(href="https://www.facebook.com/sharer.php?u=https://www.metlife.com.hk/gogoallife/" target="_blank" onclick="metlife.trackEvent('share-button');window.location.href='https://www.metlife.com.hk/gogoallife/mobile.html';")
			div.facebookShare
